<div ng-controller="translate.AiConfigController as pvm"
      class="form-horizontal">

    <div class="alert alert-warning" style="margin:-20px; margin-bottom:20px;">
        <localize key="@tmAi_beta-warning"></localize>
    </div>

    <div class="tm-umb-layout">
        <div class="tm-umb-box tm-umb-box-twothird">
            <umb-box>
                <umb-box-header title-key="tmAi_config-title"
                                description-key="tmAi_config-desc">
                </umb-box-header>
                <umb-box-content>
                    <div>

                        <umb-control-group label="@tmAi_translator" description="@tmAi_translator-desc">
                            <select class="umb-dropdown umb-property-editor"
                                    name="Translator"
                                    ng-model="vm.settings.translator"
                                    ng-change="pvm.changeTranslator()">
                                <option value="{{value.alias}}" ng-repeat="(key, value) in pvm.translators">{{value.name}}</option>
                            </select>
                        </umb-control-group>

                        <div ng-if="pvm.translatorView != undefined">
                            <div style="background-color: #efefef;padding: 10px; margin: 10px 0; border: 1px solid #ddd; border-radius: 2px;">
                                <div ng-include="pvm.translatorView"></div>
                            </div>
                        </div>

                        <!-- TODO: Connector specific properties here... -->

                        <umb-control-group label="@tmAi_throttle" description="@tmAi_throttle-desc">
                            <input type="number" ng-model="vm.settings.throttle" class="umb-property-editor umb-textstring textstring"
                                   placeholder="500" />
                        </umb-control-group>

                        <!-- split or not -->
                        <umb-control-group label="@tmAi_split" description="@tmAi_split-desc">
                            <umb-toggle checked="vm.settings.split == true"
                                        on-click="vm.settings.split = !vm.settings.split"
                                        show-labels="true"
                                        label-on="Split HTML into blocks before translating"
                                        label-off="translate HTML as a single block"
                                        label-position="right">
                            </umb-toggle>
                        </umb-control-group>

                        <umb-control-group label="@tmAi_asHtml" description="@tmAi_asHtml-desc">
                            <umb-toggle checked="vm.settings.asHtml"
                                        on-click="vm.settings.asHtml = !vm.settings.asHtml"
                                        show-labels="true"
                                        label-on="Tell API to treat richtext markup as html"
                                        label-off="All text (even html) is sent as plain text"
                                        label-position="right">
                            </umb-toggle>
                        </umb-control-group>

                    </div>
                </umb-box-content>
            </umb-box>

            <umb-box>
                <umb-box-header title-key="tmAi_config-advanced"
                                description-key="tmAi_config-advanced-desc"
                                style="cursor:pointer;"
                                ng-click="pvm.showAdvanced = !pvm.showAdvanced"></umb-box-header>
                <umb-box-content ng-show="pvm.showAdvanced">

                    <div>
                        <small>
                            <em class="text-muted">
                                <localize key="tmAi_config-advanced-help"></localize>
                            </em>
                        </small>
                    </div>

                    <umb-control-group label="@tmAi_model" description="@tmAi_model-desc">
                        <input type="text" ng-model="vm.settings.model" class="umb-property-editor umb-textstring textstring"
                               placeholder="text-davinci-003" />
                        <div class="mt2">
                            <localize key="tmAi_model-help"></localize>
                        </div>
                    </umb-control-group>

                    <umb-control-group label="@tmAi_maxTokens" description="@tmAi_maxTokens-desc">
                        <input type="number" ng-model="vm.settings.maxTokens" class="umb-property-editor umb-textstring textstring"
                               placeholder="500" />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_temperature" description="@tmAi_temperature-desc">
                        <input type="number" ng-model="vm.settings.temperature" step="0.1" class="umb-property-editor umb-textstring textstring"
                               placeholder="0.0" />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_frequencyPenalty" description="@tmAi_frequencyPenalty-desc">
                        <input type="number" ng-model="vm.settings.frequencyPenalty" step="0.1" class="umb-property-editor umb-textstring textstring"
                               placeholder="0.0" />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_presencePenalty" description="@tmAi_presencePenalty-desc">
                        <input type="number" ng-model="vm.settings.presencePenalty" step="0.1" class="umb-property-editor umb-textstring textstring"
                               placeholder="0.0" />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_nucleusSamplingFactor" description="@tmAi_nucleusSamplingFactor-desc">
                        <input type="number" ng-model="vm.settings.nucleusSampling" class="umb-property-editor umb-textstring textstring"
                               placeholder="1" />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_conversationId" description="@tmAi_conversationId-desc">
                        <input type="text" ng-model="vm.settings.conversationId" class="umb-property-editor umb-textstring textstring"
                                />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_instructions" description="@tmAi_instructions-desc">
                        <input type="text" ng-model="vm.settings.instructions" class="umb-property-editor umb-textstring textstring"
                                />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_seed" description="@tmAi_seed-desc">
                        <input type="text" ng-model="vm.settings.seed" class="umb-property-editor umb-textstring textstring"
                               />
                    </umb-control-group>

                    <umb-control-group label="@tmAi_topK" description="@tmAi_topK-desc">
                        <input type="number" ng-model="vm.settings.topK" class="umb-property-editor umb-textstring textstring"
                               placeholder="1" />
                    </umb-control-group>
                </umb-box-content>
            </umb-box>

            <umb-box>
                <umb-box-header title-key="tmAi_promptTitle"
                                description-key="tmAi_promptDesc"
                                style="cursor:pointer;"
                                ng-click="pvm.showPrompt = !pvm.showPrompt"></umb-box-header>

                <umb-box-content ng-show="pvm.showPrompt">
                    <div class="mb2">
                        <h4>Prompt</h4>
                        <small>The prompt to use for translations.</small>
                    </div>

                    <umb-control-group label="@tmAi_promptLabel"
                                       description="@tmAi_promptLabelDesc">
                        <textarea rows="5"
                                  ng-model="vm.settings.prompt" class="umb-property-editor"></textarea>
                    </umb-control-group>
                    <umb-control-group label="Example"
                                       description="Example of what will be sent to the AI">
                        <pre>{{pvm.samplePrompt}}</pre>
                    </umb-control-group>
                </umb-box-content>

            </umb-box>
        </div>

        <div class="tm-umb-box tm-umb-box-third">
            <umb-box>
                <umb-box-header title="tmAi Api Connector"
                                description="Machine translation"></umb-box-header>
                <umb-box-content>
                    <localize key="tmAi_help-text" 
                              tokens="[vm.settings.prompt, vm.settings.systemPrompt]"
                              watch-tokens="true"></localize>
                </umb-box-content>
            </umb-box>
        </div>
    </div>
</div>