<div>
    <div style="padding-bottom: 10px; margin-left: 180px">
        <umb-localize key="tmAiAzure_description"></umb-localize>
    </div>
    <umb-control-group label="@tmAiAzure_key" description="@tmAiAzure_key-desc">
        <input type="password" ng-model="vm.settings.additional.azureKey" class="umb-property-editor umb-textstring textstring" />
    </umb-control-group>
    <umb-control-group label="@tmAiAzure_url">
        <input type="text" ng-model="vm.settings.additional.azureUrl" class="umb-property-editor umb-textstring textstring" />
        <div class="help-text">
            <small class="muted">
                <umb-localize key="tmAiAzure_url-desc"></umb-localize>
            </small>
        </div>
    </umb-control-group>
    <umb-control-group label="@tmAzure_model" description="@tmAzure_model-desc">
        <input type="text" ng-model="vm.settings.additional.azureModel" class="umb-property-editor umb-textstring textstring" />
    </umb-control-group>

</div>