<div>
    <div style="padding-bottom: 10px; margin-left: 180px">
        <umb-localize key="tmAiClaude_description"></umb-localize>
    </div>
    <umb-control-group label="@tmAiClaude_key" description="@tmAiClaude_key-desc">
        <input type="password" ng-model="vm.settings.additional.claudeAiKey" class="umb-property-editor umb-textstring textstring" />
    </umb-control-group>
    <umb-control-group label="@tmAiClaude_model" description="@tmAiClaude_model-desc">
        <input type="text" ng-model="vm.settings.additional.claudeAiModel" class="umb-property-editor umb-textstring textstring" />
    </umb-control-group>
</div>