<div>
    <div style="padding-bottom: 10px; margin-left: 180px">
        <umb-localize key="tmAiGithub_description"></umb-localize>
    </div>
    <umb-control-group label="@tmAiGithub_key" description="@tmAiGithub_key-desc">
        <input type="password" ng-model="vm.settings.additional.githubKey" class="umb-property-editor umb-textstring textstring" />
    </umb-control-group>
    <umb-control-group label="@tmGithub_model" description="@tmGithub_model-desc">
        <input type="text" ng-model="vm.settings.additional.githubModel" class="umb-property-editor umb-textstring textstring" />
    </umb-control-group>
</div>